[color]
	ui = true
[push]
	default = simple
[user]
	name = Michael
	email = schumacher.m@me.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFNdGLjb/M2RKouSJuAhITyAAvxoV4ug26Hq9A8Ygcm+
[merge]
	tool = opendiff
[core]
	editor = vim
	excludesfile = /home/m/.gitignore
	hooksPath = /Users/m/.config/git/hooks
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[branch]
	autosetuprebase = always
[pull]
	rebase = true
[rebase]
	autoStash = true
[alias]
	brs = for-each-ref --sort='-authordate:iso8601' --format=' %(color:green)%(authordate:iso8601)%09%(color:white)%(refname:short)' refs/heads
	a = add
	ap = add -p
	adduntracked="!f() { git add $(git ls-files -o --exclude-standard $@); }; f"
	rh = reset HEAD
	ci = commit
	cm = commit -m
	ca = commit --amend
	cf = commit --fixup
	cp = cherry-pick
	st = status
	s  = status
	p  = pull --rebase
	rb = rebase
	ri = rebase -i --autostash
	rc = rebase --continue
	ra = rebase --abort
	br = branch
	co = checkout
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lg = log -p --color-words='[^[:space:]]|([[:alnum:]]|UTF_8_GUARD)+'
	lgw = log -p --word-diff
	lgf = log --follow -p
	ly = log --since='2 days ago'
	lgy = log -p --since='2 days ago'
	d  = diff -C --color-words='[^[:space:]]|([[:alnum:]]|UTF_8_GUARD)+'
	dw  = diff -C --word-diff -b
	dc = diff --cached -C --color-words='[^[:space:]]|([[:alnum:]]|UTF_8_GUARD)+'
	dcw = diff --cached -C --word-diff -b
	who = shortlog -s --
	undocommit = reset --soft HEAD^
	undomerge-or-pull = reset --hard
	amne = commit --amend --no-edit
	pf = push -f
	pr = pull --rebase
[diff "sopsdiffer"]
	textconv = sops -d
[commit]
	gpgsign = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = main
[submodule]
	recurse = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
