[color]
	ui = true
[push]
	default = simple
[user]
	name = Michael Schumacher
	email = schumacher.m@me.com
[mergetool "fugitive"]
	cmd = mvim -f -c \"Gdiff\" \"$MERGED\"
[merge]
	tool = opendiff
[core]
	editor = /usr/bin/vim
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[branch]
    autosetuprebase = always
[pull]
    rebase = true
[rebase]
    autoStash = true